<div class="container " style="margin-top:10em;">


  <h1 class="pb-4 mb-4">Conditions Générales d’Utilisation et Politique d’utilisation des données</h1>

  <p>La présente politique est relative à votre utilisation du site www.suisjeenfaillite.com (le « site ») et constitue les termes contractuels liant la société SEF SAS [compléter avec information sur SAS] (la « société », « nous », « notre », « SEF ») et les utilisateurs du site. Elle décrit également les informations que nous traitons pour le fonctionnement du site et d’autres fonctionnalités et produits proposés par le site.</p>

  <h2 class="py-4 my-4">1. Objet du site, exclusion de responsabilité</h2>

  <p>Le site propose un service d’aide à la compréhension de la situation de cessation de paiement de l’entreprise basé sur une estimation automatisée, mise en œuvre à partir des informations essentiellement comptables et financières que vous saisissez sur les formulaires en ligne. Le site peut présenter ensuite diverses options d’accompagnement, issues des dispositions légales, et faciliter la mise en relation de l’utilisateur avec des partenaires susceptibles de proposer une offre de services adaptée à la situation dans laquelle se trouve l’utilisateur.</p>

  <p>Vous êtes responsable des données que vous saisissez sur les formulaires, et acceptez expressément que l’utilisation du site a vocation à vous donner une évaluation de la situation de votre entreprise, fondée sur une étude automatisée des données que vous avez saisies ; l’utilisation du site ne constitue aucunement une consultation juridique, fiscale ou comptable, et ne saurait atténuer votre responsabilité personnelle de dirigeant ou d’entrepreneur, ni vous dispenser de prendre attache avec des professionnels du chiffre et du droit (expert-comptable, avocat) ou avec les autorités de référence (chambre du commerce ou de l’artisanat, tribunal de commerce).</p>

  <p>Aucune des réponses données par le site ne constitue d’avis juridique ou comptable, et ne donne qu’une indication générale, ce que vous reconnaissez expressément et acceptez, en utilisant le site. La société SEF ne saurait jamais être considérée comme ayant fourni une consultation juridique, fiscale ou comptable, et sa responsabilité est expressément exclue.</p>

  <p>Le site peut vous permettre de vous rapprocher d’un partenaire pour être conseillé sur les options possibles en lien avec la situation dans laquelle vous vous trouvez ; les conditions de votre interaction juridique et commerciale avec nos partenaires sont régies par leurs propres conditions contractuelles.</p>

  <p>La société SEF ne garantit pas l’exactitude du résultat de l’analyse des données que vous avez saisies, ni que l’orientation fournie par le site correspond à vos besoins et à votre situation. Nous ne sommes pas un cabinet d’avocats ni un cabinet d’expertise comptable, et nous saurions être considéré comme tels. L’objet de la société SEF n’est pas le conseil juridique ni l’expertise comptable, et nous n’exerçons aucune activité de consultation et notre activité ne consiste pas à vous donner des conseils juridiques ou comptables.</p>

  <h2 class="py-4 my-4">2. Propriété intellectuelle, protection des bases de données</h2>

  <p>Tout le contenu présent ou rendu disponible à travers le site, tels que les textes, les graphiques, les logos, les boutons, les images, et les compilations de données, est la propriété de la société SEF, et est protégé par le droit français et international de la propriété intellectuelle, d'auteur et de protection des bases de données. La compilation de tout le contenu présent ou rendu disponible à travers le site est la propriété exclusive de SEF et est protégé par le droit français et international de la propriété intellectuelle et de protection des bases de données.</p>

  <p>Vous ne devez pas extraire et/ou réutiliser de façon systématique des parties du contenu du site sans notre autorisation préalable, exprès et écrite. En particulier, vous ne devez pas utiliser de robot d'aspiration de données, ou tout autre outil similaire de collecte ou d'extraction de données pour extraire (en une ou plusieurs fois), pour réutiliser une partie substantielle d'une quelconque partie du site, sans notre accord préalable, exprès et écrit. Vous ne devez pas non plus créer et/ou publier vos propres bases de données qui comporteraient des parties de notre site sans notre accord préalable, exprès et écrit.</p>

  <h2 class="py-4 my-4">3. Licence et accès</h2>

  <p>Sous réserve du respect des présentes conditions d'utilisation et du paiement de toutes les sommes applicables, nous vous accordons une licence limitée, non exclusive, non transférable, non sous licenciable pour l'accès et à l'utilisation personnelle et non commerciale du site. Cette licence n'inclut aucun droit d'utilisation du site ou de son contenu pour la vente ou toute autre utilisation commerciale, ni pour toute utilisation dérivée du site ou de son contenu, ni pour le téléchargement ou la copie des informations du site pour un tiers, ni de toute utilisation de robot d'aspiration de données, ou autre outil similaire de collecte ou d'extraction de données.</p>

  <p>Tous les droits qui ne vous ont pas été expressément accordés dans ces Conditions d'Utilisation sont réservés et restent propriété exclusive de SEF. Aucun service fourni par SEF ou tout ou partie de tels services ne doit être reproduit, copié, vendu, revendu, visité ou exploité pour des raisons commerciales sans notre autorisation préalable, exprès et écrite.</p>

  <p>Vous vous engagez à ne pas faire un mauvais usage du site, et à l’utiliser dans des conditions autorisées par la loi. Les licences accordées par SEF prendront immédiatement fin si vous ne respectez pas ces Conditions d'Utilisation, sans préjudice de toute action que nous pourrions mettre en œuvre à votre encontre.</p>

  <h2 class="py-4 my-4">4. Informations collectées</h2>

  <p>Pour permettre le fonctionnement du site, nous devons traiter des informations vous concernant, que vous saisissez sur les formulaires présents sur le site.</p>

  <p>Nous recueillons les informations que vous saisissez sur les formulaires, notamment lorsque vous créez un compte, lorsque vous lancez une simulation visant à déterminer la santé financière de votre entreprise.</p>

  <p>Les données collectées incluent : prénom, nom, adresse email, n° de téléphone, informations comptables et financières (état des créances et des dettes, soldes bancaires, découvert autorisé)).</p>

  <p><p>Nous sommes susceptibles de recueillir des informations concernant la manière dont vous utilisez le site, telles que les pages que vous consultez ou avec lesquels vous interagissez, les fonctionnalités que vous utilisez, les actions que vous réalisez, l’heure, la fréquence et la durée de vos activités.</p>

  <p>Si vous utilisez le site pour solliciter l’aide de nos partenaires, nous recueillons des données concernant cet achat ou cette transaction. Ceci peut comprendre vos informations de paiement, telles que le numéro de votre carte de crédit ou de débit et d’autres informations concernant votre carte, d’autres informations de compte et d’authentification, ainsi que des données de facturation et de livraison, et vos coordonnées.</p>

  <p>Nous sommes susceptibles d’utiliser des données provenant des cookies enregistrés sur votre appareil, notamment les identifiants et paramètres des cookies, en application de notre Politique d’utilisation des cookies.</p>

  <p>Nous sommes susceptibles de partager les informations que vous déposez sur le site via les formulaires avec des annonceurs, et des partenaires du site, qui sont susceptibles de vous communiquer pour vous proposer des offres de services. En pareil cas, ces annonceurs et partenaires sont susceptibles de nous verser une rémunération. Nos partenaires reçoivent vos données soit lorsque vous consultez ou utilisez leurs services, soit parce que nous leur avons fourni vos données. Nous veillons contractuellement à ce que chacun de nos partenaires soit légalement autorisé à utiliser vos données avant de leur fournir.</p>

  <h2 class="py-4 my-4">5. L’utilisation que nous faisons des informations collectées</h2>

  <p>Nous utilisons vos informations afin de fournir et d’assurer le fonctionnement du site et de les communiquer à nos partenaires qui sont susceptibles de vous proposer des offres de services.</p>

  <p>L’utilisation que nous faisons de vos données inclut notamment le fonctionnement du site, c’est-à-dire le calcul par le biais de nos algorithmes d’une tendance permettant de vous indiquer si votre entreprise apparait entrer dans le cadre de la cessation des paiements ou non, et vous présente ensuite les options qui s’offrent à vous, selon le résultat de cette estimation.</p>

  <p>L’utilisation de vos données par nos partenaires varie selon leur offre de services, mais va traditionnellement consister, par exemple, à ce qu’une société experte en restructuration de crédits vous propose son aide, ou qu’un courtier en crédits évalue avec vous la possibilité de mettre en place une ligne de crédit, ou encore qu’une banque d’affaires vous contacte pour envisager l’entrée à votre capital de partenaires financiers.</p>

  <p>Nous utilisons ainsi les informations à notre disposition pour le bon fonctionnement du site, et pour permettre à nos partenaires d’avoir des informations vous concernant et de vous contacter. Ce système permet de vous fournir un service de qualité, sans publicité, et moyennant un prix d’inscription modique. [Voulons-nous envisager un modèle avec des publicités ciblées qui nous rémunèrent ?]</p>

  <p>Les informations que vous nous communiquez nous permettent aussi de développer, tester et améliorer le site, et pour vérifier les activités, lutter contre les comportements dangereux, pour détecter et prévenir le contenu indésirable et toutes autres utilisation frauduleuse ou malintentionnée du site, pour préserver l’intégrité du site et pour en favoriser la sûreté et la sécurité ; par exemple, nous utilisons les données à notre disposition pour examiner toute activité suspecte ou toute violation de nos conditions d’utilisation.</p>

  <h2 class="py-4 my-4">6. Fondements juridiques de notre utilisation des informations</H2>

  <p>Nous recueillons, utilisons et partageons les données en notre possession des manières décrites ci-dessous :</p>

  <ul>
    <li>Dans la mesure nécessaire pour respecter nos Conditions générales d’utilisation ;</li>

    <li>En respectant votre consentement, que vous pouvez révoquer à tout moment en nous le notifiant par email à l’adresse [insérer email contact] ou par courrier à l’adresse [insérer adresse postale] ;</li>

    <li>Dans la mesure nécessaire pour remplir nos obligations légales ;</li>

    <li>Dans la mesure nécessaire pour nos intérêts légitimes (ou ceux des autres), notamment nos intérêts quant à la fourniture d’un service innovant, personnalisé, sûr et utile, sauf si ces intérêts sont supplantés par vos intérêts ou vos libertés et droits fondamentaux exigeant la protection de vos données personnelles.</lI>
  </ul>

  <h2 class="py-4 my-4">7. Vos droits et la façon de les exercer</h2>

  <p>Conformément au Règlement général sur la protection des données, vous avez le droit de consulter, de rectifier, de transférer et de supprimer vos données. Vous avez également le droit de vous opposer et de restreindre le traitement de vos données. Ceci inclut :</p>

  <ul>
    <li>Le droit de vous opposer à ce que nous traitions vos données à des fins de marketing direct, que vous pouvez exercer en nous le notifiant par email à l’adresse [insérer email contact] ou par courrier à l’adresse [insérer adresse postale] ; </lI>

  <li>Le droit de vous opposer à ce que nous traitions vos données lorsque nous faisons valoir nos intérêts légitimes ou ceux d’un tiers, en nous le notifiant par email à l’adresse [insérer email contact] ou par courrier à l’adresse [insérer adresse postale].</lI>
  </ul>

  <h2 class="py-4 my-4">8. Règles de conservation des données, suppression d’un compte</h2>

  <p>Nous stockons les données pendant la durée la plus longue entre le moment où nous n’en avons plus besoin pour fournir nos services via le site, ou trois (3) ans à compter de votre dernière interaction avec le site (cette interaction étant concrétisée par une connexion avec la même adresse email). Vos données sont supprimées dans un délai raisonnable à compter du moment où vous nous notifiez votre décision de supprimer votre compte (un délai raisonnable étant entendu comme inférieur à quelques semaines). La suppression de votre compte implique que vous nous envoyiez une copie de votre pièce d’identité officielle à des fins de vérification, ainsi que toute autre information pertinente permettant de confirmer que vous êtes bien le titulaire du compte dont vous sollicitez la suppression.</p>

  <p>Lorsque vous supprimez votre compte, nous supprimons toutes les informations collectées et que vous nous avez fournies, et vous ne pourrez plus récupérer ces informations par la suite. Il vous appartiendra ensuite d’entrer en contact avec les partenaires qui vous auraient éventuellement contactés afin, en accord avec leurs propres politiques de gestion des données, de leur demander de supprimer vos données de leurs bases, si vous le souhaitez.</p>

  <p>Veuillez noter que nous accédons à vos informations, les conservons et les partageons avec les organismes de réglementation, les autorités judiciaires ou administratives, pour répondre à une demande légale, si la loi l’exige, ou également lorsque nous avons des raisons légitimes de penser que cela est nécessaire pour détecter, empêcher et maîtriser la fraude, l’utilisation non autorisée du site, des violations de nos conditions d’utilisation, ou prévenir toutes autres activités dangereuses ou illégales ; ainsi que pour nous protéger nous-mêmes (notamment nos droits, notre propriété ou notre site).</p>

  <p>Les informations vous concernant que nous recevons (notamment les données de transactions financières liées à votre interaction avec nos partenaires) peuvent être consultées et conservées pendant une période prolongée lorsqu’elles font l’objet d’une demande ou d’une obligation légale, d’une enquête gouvernementale ou d’enquêtes sur d’éventuelles violations de nos conditions d’utilisation ou de nos règlements, ou pour éviter tout autre dommage. Nous conservons également pendant une durée minimale d’un an les informations des comptes désactivés suite à une violation des conditions d’utilisation, et ce, afin d’éviter les abus répétés ou d’autres violations des conditions d’utilisation.</p>

  <h2 class="py-4 my-4">9. Droit applicable</h2>

  <p>Les présentes Conditions d'utilisation sont soumises au droit français. Vous acceptez de soumettre tous les litiges occasionnés par la relation existant entre vous et nous à la compétence des juridictions du ressort de la Cour d’appel de Paris. Avant toute action en justice, vous acceptez que la difficulté soit soumise à une tentative de médiation sous l’égide du Centre de médiation et d'arbitrage CMAP, 39 avenue Franklin Delano Roosevelt, 75008 Paris.</p>

  <h2 class="py-4 my-4">10. Modifications possibles aux présentes conditions d’utilisation</h2>

  <p>En cas de modification des présentes conditions par nos soins, ou si des textes légaux ou règlementaires l’exigent, la version modifiée sera publiée sur le site et sera effective dès sa publication.</P>

  <h2 class="py-4 my-4">11. Comment nous contacter ?</h2>

  <p>Pour toutes questions concernant les présentes conditions d’utilisation, ou pour exercer vos droits en lien avec les données personnelles et notamment issus du Règlement général sur la protection des données, vous pouvez nous contacter par email à l’adresse [insérer email contact] ou par courrier à l’adresse [insérer adresse postale].</p>

  <p>Vous avez également la possibilité de déposer une réclamation auprès de l’autorité de supervisions française, la CNIL, dont les coordonnées sont accessibles sur leur site à l’adresse suivante : www.cnil.fr ; vous pouvez également trouver des modèles de courriers utiles pour exercer vos droits, à l’adresse suivante : https://www.cnil.fr/fr/modeles/courrier</p>

  <p>* * *</p>

  <div class="text-right">
  <span>Dernière révision : janvier 2021</span>
  </div>




</div>
