<div class="container " style="margin-top:10em;">


<h1 class="pb-4 mb-4">Politique d’utilisation de cookies</h1>

<p>La présente politique est relative à notre utilisation de cookies sur le site www.suisjeenfaillite.com (le « site ») et vous informe de cet usage, tout en recueillant votre consentement à ce que la société SEF SAS [compléter avec information sur SAS] (la « société », « nous », « notre », « SEF ») dépose des cookies sur votre terminal, dont certains ont des finalités autres que celles qui permettent ou facilitent la communication par voie électronique, et certains qui ne sont pas strictement nécessaires à la fourniture d'un service de communication en ligne à votre demande expresse de l'internaute.</p>

<p>Les cookies sont de petits éléments de texte qui servent à stocker des informations sur les navigateurs web. Les cookies sont notamment utilisés pour stocker et recevoir des identifiants et d’autres informations sur des appareils comme les ordinateurs ou les téléphones. D’autres technologies, dont les données que nous stockons sur votre navigateur web ou sur votre appareil, les identifiants associés à votre appareil et d’autres logiciels, sont utilisées dans des buts similaires. Dans la présente politique, nous désignons toutes ces technologies par le terme « cookies ».</p>

<p>Nous utilisons des cookies si vous avez un compte, et/ou si vous utilisez le site. Les cookies nous permettent de vous proposer un site fonctionnel et de comprendre les informations reçues de votre part, notamment les informations concernant votre utilisation du site, que vous soyez inscrit(e) ou connecté(e) ou non.</p>

<p>Cette politique explique comment nous utilisons les cookies et présente les choix dont vous disposez à cet égard.</p>

<p>Les cookies nous aident à proposer, à protéger et à améliorer le site (par exemple, en personnalisant le contenu), ainsi le cas-échéant qu’à adapter et à mesurer les publicités, et à augmenter la sécurité du site. Les cookies que nous utilisons comprennent des cookies de session, qui sont supprimés lorsque vous fermez votre navigateur, et des cookies permanents, qui restent sur votre navigateur jusqu’à ce qu’ils expirent ou que vous les supprimiez. Nous utilisons les cookies aux fins suivantes :</p>

<h3 class="pt-4 mt-4">Authentification</h3>

<p>Nous utilisons des cookies pour vérifier votre compte et pour déterminer les moments où vous êtes connecté(e), de façon à faciliter votre accès site et à vous proposer une expérience et des fonctionnalités adaptées à votre utilisation.</p>

<h3 class="pt-4 mt-4">Sécurité du site</h3>

<p>Nous utilisons des cookies pour garantir la sécurité de votre compte, de vos données et du site. Les cookies nous permettent également de lutter contre les activités qui enfreignent nos politiques ou qui dégradent notre capacité à faire fonctionner le site.</p>

<h3 class="pt-4 mt-4">Publicités, recommandations, statistiques et mesures</h3>

<p>Le cas-échéant, nous utilisons des cookies afin de proposer des publicités et de faire des recommandations pour nos partenaires qui pourraient être intéressés à l’idée de vous proposer leurs offres de services. Ils nous aident également à mesurer l’efficacité des campagnes publicitaires diffusées par des entreprises qui les diffusent sur le site.</p>

<p>Les cookies nous aident à diffuser et à mesurer des publicités sur différents navigateurs et appareils utilisés par une même personne.</p>

<p>Ils nous permettent également de proposer des statistiques sur les personnes qui utilisent le site et les personnes qui interagissent avec les publicités, le site et les applications de nos annonceurs et des entreprises qui publient des annonces sur le site.</p>

<h3 class="pt-4 mt-4">Fonctionnalités et services du site</h3>

<p>Nous utilisons des cookies pour mettre en place des fonctionnalités qui nous aident à faire fonctionner le site, et pour rendre votre utilisation du site plus fluide.

<h3 class="pt-4 mt-4">Google Analytics</h3>

<p>Nous plaçons également des cookies depuis le domaine suisjeenfaillite.com qui fonctionnent avec le service Google Analytics, afin de comprendre comment les entreprises utilisent le site.</p>

<h3 class="pt-4 mt-4">Sites web et applications externes</h3>

<p>Nos partenaires commerciaux peuvent également choisir de partager leurs informations avec nous et réciproquement, à l’aide de cookies placés sur les domaines de leurs propres site web.</p>

<h3 class="pt-4 mt-4">Comment pouvez-vous contrôler l’utilisation des cookies par SEF ?</h3>

<p>Nous utilisons des cookies pour vous aider à personnaliser et améliorer le site, fournir une expérience plus sécurisée et vous montrer des publicités utiles et pertinentes.</p>

<h3>Contrôle des cookies de navigateur</h3>

<p>Votre navigateur ou votre appareil propose peut-être des paramètres vous permettant de choisir si les cookies du navigateur sont activés et de les supprimer. Ces contrôles varient en fonction du navigateur et les fabricants peuvent modifier les paramètres disponibles et le fonctionnement de ceux-ci à tout moment.</p>

<div class="text-right pb-4 mb-4">
* * *
<br><br>
<span stylz="font-size:10px;">Dernière révision : janvier 2021</span>



</div>

</div>
