<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 mx-auto" style="margin-top:8em;">

    <h2 class="col-12 text-left mb-4 title-ajouts">Ajouter un nouvel article :</h2>


      <%= form_tag url_for(blog_index_path), :blog => @blog, method: 'post',class:"register-form" do %>
        <div class="row">

          <div class="col-lg-12 my-4">
            <div class="form-group contact-block1">
              <%= text_field_tag 'title', nil, placeholder: 'titre', class:"form-control ", id:'post_title' %>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="form-group">
              <%= text_area_tag 'body', nil , placeholder: 'Contenu',  class:"form-control " , id:'post_body', rows:"8" %>
            </div>
            <trix-editor input="post_body"></trix-editor>
          </div>



          <div class="col-lg-3 mt-2 text-right ">
            <%= submit_tag " Ajouter ", class: "btn-get-started scrollto", style:"border-radius:20px;" %>
            <%end%>
          </div>


          </div>

    </div>
